/**********************
GENERAL
**********************/

body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
}

/*#wrapper {
  size: auto;
  margin: auto;
  padding-bottom: 1.5em;
}*/

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h3 {
  margin: 0 0 1em 0;
}



/**********************
HEADING
**********************/

header{
  float: left;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  border-bottom: 5px solid;
}

#logo {
  text-align: center;
  margin: 10px 0;
}

h1 {
  font-family: 'Changa One', sans-serif;
  margin: 15px 0;
  font-size: 2em;
  font-weight: normal;
  line-height: 0.8em;
}

h2 {
  margin: -5px 0 0;
  font-size: 1em;
}



/**********************
NAVIGATION
**********************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 10px 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
  font-size: 1.5em;
}



/**********************
FOOTER
**********************/

footer {
  position: absolute;
  display: inline;
  align-items: center;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  margin: auto;
  font-size: 0.9em;
  clear: both;
  padding: .5em;
}



/**********************
PAGE: PORTFOLIO
**********************/

#menu { 
  width: 80%;
  margin: 0 5%;
  padding: 5%;
}

#menu li {
  font-weight: 800;
  padding: 20px 0;
  font-size: 1.5em;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
}



/***************************
PAGE: LOGOS/INVITATIONS/ETC
***************************/

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
}

#gallery li a {
  max-width: 200px; 
}

#gallery li p {
  margin: 0;
  padding: 2.5%;
  font-size: 0.75em;
  text-align: center;
  color: #000;
  background-color: #eee;
  border-radius: 10%;
}

#butterfly {
  padding-top: 80px;
}

.logos {
  width: 300px;
  height: 300px;
}

.invitations {
  max-width: 300px;
}

.drawings {
  max-height: 300px;
}

/**********************
PAGE: ABOUT
**********************/

#wrapper {
  padding: 0 20px;
  display: block;
  text-align: center;
}

.profile-photo {
  max-width: 150px;
  margin: 0;
  border-radius: 20%;
  padding: 10px;
}

#about {
  display: block;
  text-align: center;
  margin: auto;
  width: 90%;
}

#about p {
  margin: 0;
  padding: 20px;
}

.selfphoto {
  display: block;
  text-align: left;
}

/**********************
PAGE: CONTACT
**********************/
#contactform {
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 10px;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  padding: 15px;
}


/**********************
COLORS
**********************/

/* site body */
body {
  background-color: #fff;
  color: #000;
}

/* header color */
header {
  background: #FF69B4;
  border-color: #663399;
}

/*nav background on mobile*/
/*nav {
  background: #dda0dd;
}
*/
/*logo text*/
h1 {
  color: #fff;
}

h2 {
  color: #663399;
}

/*links*/
a {
  color: #663399;
}

/*nav link*/
nav a, nav a:visited {
  color: #fff;
}

/*selected nav link*/
nav a.selected, nav a:hover {
  color: #663399;
}

/*portfolio menu*/
#menu li a:hover {
  color: #dda0dd;
}

#link:hover {
  color: #dda0dd;
}

/*logo description*/
#gallery li p {
  color: #000;
  background-color: #eee;
}

/*footer*/
footer {
  font-size: 12px;
  color: #fff;
  background-color: rgba(221, 160, 221, .5);
  padding: 10px 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
}