@media screen and (min-width: 480px) {

/**********************
HEADER
*********************/

 h1 {
    font-size: 2.25em;
  }
  
  h2 {
    font-size: 1.25em;
  }

/**********************
PAGE: CONTACT
**********************/
  
  #primary, #secondary {
    display: inline-block; 
    width: 45%;
    margin: 0 2.5%;
    padding: 2.5%;
    font-size: 1em;
  }

  #primary {
    text-align: left;
  }
  
  #secondary {
    text-align: left;
  }

  #wrapper p {
    text-align: left;
    position: relative;
  }
  
  /**********************
PAGE: PORTFOLIO
*********************/
  
  #gallery li {
    width: 28.3333%;
  }
  
  #gallery li:nth-child(4n){
    clear: left;
  }
  
/**********************
PAGE: ABOUT
*********************/
  
  .profile-photo {
    float: left;
    margin: 0 5% 80px 0;
  }
  

/**********************
FOOTER
*********************/
  
  footer {
    bottom: 0;
  }
}
@media screen and (min-width: 660px) {
  
/**********************
HEADER
*********************/
  
  nav {
    float: right;
    font-size: 0.9em;
    margin-right: 5%;
    margin-top: 1%;
    text-align: right;
    width: 45%;
    display: block;
  }
  
  #logo {
    float: left;
    margin-left: 5%;
    margin-top: 1%;
    text-align: left;
    width: 45%;
  }
  
 h1 {
    font-size: 2.5em;
  }
  
  h2 {
    font-size: 1.25em;
    margin: -3% 5px;
  }
  
  header {
    border-bottom: 5px solid #663399;
    margin-bottom: 60px;
  }
  
}

@media screen and (min-width: 924px) {

/**********************
HEADER
*********************/
  
  h2 {
    padding-top: 15px;
  }

}