<!DOCTYPE html>
<html>

    {% extends "base.html" %}

    {% block content %}

    <div id="wrapper">
      <aside id="selfphoto">
        <img src="img/vanessa.jpg" alt="Photograph of Maria Vanessa Moreno" class="profile-photo">
      </aside>
      <section id="about">
        <h3>About</h3>
        <p>Hi, I'm Maria Vanessa. Welcome to my online portfolio, designed by me! Here you can check out many different designs I've done, by hand and digitally.</p>
        <br>
        <p>If you'd like to follow my art, please see my <a href="contact.html" id="link"><strong>contact</strong></a> page for all the social media and platforms.</p>
      </section>
    </div>

    {% endblock %}
<!--     <footer id=mainfoot>
      <p>&copy; 2019 Maria Vanessa Moreno.</p>
    </footer> -->
</html>