<!DOCTYPE html>
<html>

    {% extends "base.html" %}

    {% block content %}

    <div id="wrapper">
      <section id="code">
        <ul id="gallery">
          <li>
            <img src="img/" alt="">
            <p>Description</p>
          </li>
          <li>
            <img src="img/" alt="">
            <p>Description.</p>
          </li>
          <li>
            <img src="img/" alt="">
            <p>Description.</p>
          </li>
          <li>
            <img src="img/" alt="">
            <p>Description</p>
          </li>
        </ul>
      </section>
    </div>

    {% endblock %}

</html>