<!DOCTYPE html>
<html>

    {% extends "base.html" %}

    {% block content %}

    <div id="wrapper">
      <section id="digital">
        <ul id="gallery">
          <li>
            <img src="img/door.jpg" alt="">
            <p>Photo of a metal warehouse door for a local Tampa vintage shop hand painted with a wide variety of hand written "fonts".</p>
          </li>
          <li>
            <img src="img/vintagefencesign.jpg" alt="">
            <p>Photo of a fence hand painted with an Old English hand written font for a local Tampa vintage warehouse.</p>
          </li>
          <li id="butterfly">
            <img src="img/digitalbutterfly.jpg" alt="">
            <p>A digital butterfly "drawn" on Adobe Illustrator.</p>
          </li>
        </ul>
      </section>
    </div>

    {% endblock %}

</html>