<!DOCTYPE html>
<html>

    {% extends "base.html" %}

    {% block content %}

    <div id="wrapper">
      <section>
        <ul id="menu">
          <li><a href="logos.html">Logos</a></li>
          <li><a href="invitations.html">Invitations</a></li>
          <li><a href="paintings_drawings.html">Paintings/Drawings</a></li>
          <li><a href="digitalart_typography.html">Digital Art/Typography</a></li>
          <li><a href="code.html">Code</a></li>
        </ul>
      </section>
    </div>

    {% endblock %}

</html>