<!DOCTYPE html>
<html>

    {% extends "base.html" %}

    {% block content %}

    <div id="wrapper">
      <section>
        <ul id="gallery">
          <li>
            <img src="img/celeste_invitation.jpg" alt="">
            <p>Invitation design for a quince with Grease (movie) theme.</p>
          </li>
          <li>
            <img src="img/myrline_std.jpg" alt="">
            <p>Save the Date for a wedding (some information has been removed for client's privacy).</p>
          </li>
          <li>
            <img src="img/myrline_invitation_bk.jpg" alt="">
            <p>Back of wedding invitation.</p>
          </li>
          <li>
            <img src="img/myrline_invitation_ft.jpg" alt="">
            <p>Front of wedding invitation (some information has been removed for client's privacy).</p>
          </li>
          <li>
            <img src="img/myrline_rsvp_ft.jpg" alt="">
            <p>Front of wedding RSVP form.</p>
          </li>
          <li>
            <img src="img/myrline_rsvp_bk.jpg" alt="">
            <p>Back of wedding RSVP form (some information has been removed for client's privacy).</p>
          </li>
        </ul>
      </section>
    </div>
    
    {% endblock %}

</html>