<!DOCTYPE html>
<html>

    {% extends "base.html" %}

    {% block content %}

    <div id="wrapper">
      <section>
        <ul id="gallery">
          <li>
            <img src="img/UT_SP_mug_logo.jpg" alt="">
            <p>Logo designed for the University of Tampa's Student Productions.</p>
          </li>
          <li>
            <img src="img/EHP_logo.jpg" alt="">
            <p>Logo designed for Eleventh Hour Press, a local Tampa shop.</p>
          </li>
          <li>
            <img src="img/MFW_logo.jpg" alt="">
            <p>Logo designed for Mommy Fashion World, a local Las Vegas shop.</p>
          </li>
          <li>
            <img src="img/EAS_logo.jpg" alt="">
            <p>Logo designed for Economic Auto Service, a local Las Vegas car shop.</p>
          </li>
          <li>
            <img src="img/El_SS_logo.jpg" alt="">
            <p>A logo designed for EL Speedy Serrano, a local Las Vegas surface preparation business.</p>
          </li>
          <li>
            <img src="img/DDD_logo.jpg" alt="">
            <p>A logo designed for Dan's Dirty Drains, a local Las Vegas drain cleaning business.</p>
          </li>
        </ul>
      </section>
    </div>

    {% endblock %}

</html>