<!DOCTYPE html>
<html>

    {% extends "base.html" %}

    {% block content %}

    <div id="wrapper">
      <section id="paintings">
        <ul id="gallery">
          <li>
            <img src="img/UT_Minaret.jpg" alt="">
            <p>Image of a painting I did of a minaret from Plant Hall at University of Tampa. Acrylic paints on canvas.</p>
          </li>
          <li>
            <img src="img/elvispainting.jpg" alt="">
            <p>Image of a painting I did of Elvis Presley's profile using a photoshop effect to get the "shades". Acrylic paints in triad on matt board.</p>
          </li>
          <li>
            <img src="img/applesbnw.jpg" alt="">
            <p>Image of a pencil drawing of a fruit bowl still life with shading. Pencil on paper.</p>
          </li>
          <li>
            <img src="img/applescolor.jpg" alt="">
            <p>Image of the fruit bowl still life colored in. Pencil and color pencils on paper.</p>
          </li>
        </ul>
      </section>
    </div>

    {% endblock %}

</html>